.about {
    display: grid;
    width: 1024px;
    justify-content: center;
    align-items: center;
    padding: 0;
}

.about header {
    font-size: 50px;
    font-weight: bold;
    color: #1E0342;
}

.about p {
    font-size: 18px;
    color: #7a808d;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.firts-Container {
    margin-top: 100px;
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    grid-template-rows: .5fr 1fr .3;
}

.hire-girlImg {
    grid-area: 1 / 1 / 4 / 2;
    width: 500px;
    height: 400px;
    border-radius: 10px;
    margin-right: 50px;
}

.award-img {
    position: relative;
    height: 100px;
    right: 20px;
}

.firts-Container p {
    width: 32rem;
    overflow-wrap: break-word;
    text-overflow: ellipsis
}

.empty-border {
    background-color: #fd7e14;
    border: transparent solid 12px;
    border-radius: 10px;
}


.empty-border:hover {
    background-color: green;
}

.element {
    font-size: 18px;
    font-weight: bold;
    font-family: sans-serif;
    margin: 10px;
}

.second-Container {
    margin-top: 100px;
    display: grid;
    grid-template-columns: 1.2fr 1.2fr;
    grid-template-rows: 80px 100px .1fr;
}


.second-Img {
    position: relative;
    border-radius: 10px;
    grid-area: 1 / 2 / 4 / 3;
    width: 500px;
    height: 400px;
    object-fit: cover;
    bottom: -50px;
}

.second-paragraph {
    width: 32rem;
    word-wrap: break-word;
    overflow-wrap: break-word;
    text-overflow: ellipsis
}

#third-Header {
    display: grid;
    text-align: center;
    align-items: center;
    margin-top: 100px;

}

#third-Header h2 {
    font-size: 55px;
    margin-bottom: -7 px;
}

#third-Header p {
    margin-top: -5px;
    color: #7a808d;
}

#third-FirstContainer {
    display: grid;
    grid-template-columns: 1fr .2fr 1fr;
    padding-top: 50px;
    overflow: hidden;
}

#third-SecondContainer {
    display: grid;
    grid-template-columns: 1fr .2fr 1fr;
    padding-top: 50px;
    overflow: hidden;
}

#third-FirstContainer p {
    position: relative;
    width: 400px;
    font-weight: 400;
    left: 10px;
    top: 30px;
    color: #7a808d;
    background-color: #DADADA;
    border-radius: 30px;
    padding: 60px 20px;

}

#third-FirstContainer p:hover {
    color: white;
    background-color: #FFC55A;
    box-shadow: 10px 10px 5px #FFC55A;
    font-weight: bold;
    padding: 50px 20px;
    border-radius: 15px;
}

#third-FirstContainer #first {
    position: relative;
    flex-direction: row-reverse;
    left: 180px;
    top: 50px;
}

#third-SecondContainer p {
    position: relative;
    width: 400px;
    font-weight: 400;
    left: 20px;
    top: 30px;
    color: #7a808d;
    background-color: #DADADA;
    border-radius: 30px;
    padding: 60px 20px;

}

#third-SecondContainer p:hover {
    color: white;
    background-color: #FFC55A;
    box-shadow: 10px 10px 5px #FFC55A;
    font-weight: bold;
    padding: 50px 20px;
    border-radius: 15px;
    ;
}

#third-SecondContainer section {
    position: relative;
    flex-direction: row-reverse;
    top: 50px;
    left: 60px;
}


h4 {
    margin-top: -10px;
    color: #7a808d;
}

h5 {
    margin-top: -10px;
    color: #fd7e14;
    font-weight: bold;
    font-size: 18px;
}

.third-Container h3 {
    position: relative;
    top: 18px;
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    background-color: #feb000;
    font-size: 40px;
    padding: 50px;
    border-radius: 50%;
}   