#header-Fullview {
    display: grid;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

#header {
    display: grid;
    width: 100%;
    grid-template-columns: .5fr 1fr;
    grid-template-rows: 1fr;
    font-size: 20px;
    overflow: hidden;
}

#company-Name {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 700;
    font-size: 40px;
    color: #22092C;

}

#header button {
    display: inline;
    background-color: white;
    border: none;
    font-size: 15px;
    font-weight: bold;
    margin-left: 10px;
}


#header-ul button:focus,
#header-ul button:active {
    text-decoration: underline;
    text-decoration-color: #feb000;
    text-decoration-thickness: 3px;

}

#header-ul li {
    list-style-type: none;
}

#name {
    font-size: 20px;
    font-weight: bold;
    color: #070F2B;
}

#description {
    color: #7a808d;
}