/* Base styles for all devices */
body {
    margin: 0;
    font-family: Arial, sans-serif;
}

#Mage {
    padding: 20px 0px;
}

/* Base styles for Header */
header {
    color: white;
    padding: 15px;
    text-align: center;
}

/* Media Query for Devices with a Minimum Width of 1024px (Computers) */
@media only screen and (min-width: 1200px){
    #Mage {
        width: 100%;
        max-width: 1200px;
        margin: 0 auto;
    }

    header {
        font-size: 24px;
    }
}

/* Media Query for Devices with a Maximum Width of 1023px (Mobile Devices) */
@media (max-width: 480px) {
    #Mage {
        width: 90%;
        height: auto;
        margin: 10px;
    }

    header {
        font-size: 18px;
        padding: 10px;
    }

}